*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
color:#fff;
}

.container{
width:100%;
max-width:500px;
background:#1e293b;
border-radius:18px;
padding:20px;
box-shadow:0 0 20px rgba(0,0,0,.35);
}

h1,h2,h3{
text-align:center;
margin-bottom:15px;
}

input{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:10px;
font-size:18px;
outline:none;
}

button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
cursor:pointer;
background:#2563eb;
color:#fff;
transition:.2s;
}

button:hover{
transform:scale(1.03);
}

button:active{
transform:scale(.98);
}

.btns{
display:flex;
gap:10px;
margin-top:10px;
}

.btns button{
flex:1;
}

.secretBox,
#coinBox,
#guessBox{
margin-top:20px;
padding:15px;
background:#334155;
border-radius:12px;
}

#status{
color:#38bdf8;
}

#hint{
text-align:center;
font-size:28px;
margin:20px 0;
color:#facc15;
}

#winner{
text-align:center;
color:#22c55e;
margin-top:20px;
}

#history{
margin-top:15px;
background:#0f172a;
border-radius:10px;
padding:15px;
list-style:none;
max-height:220px;
overflow-y:auto;
}

#history li{
padding:8px;
margin-bottom:6px;
background:#1e293b;
border-radius:8px;
}

hr{
margin:20px 0;
border:1px solid #475569;
}